body {
    font-family: 'Arial', sans-serif;
    background-color: #8d1d1d;
    color: #817d7d;

    }
    
    img {

        height: 200px;
        width: 200px;
    }
      
    
.imagen-container {
    text-align: center;
}


 #TITULOS{
    
       margin: auto;
        border-radius: 10%;
        color: rgb(21, 21, 32);
        padding: 0.5em 0em 0.5em 0em ;
        display: flex;
        flex-direction: column ;
        align-items: center;
     
        width:55vw;

      }
    
.presentacion {
     color: rgb(214, 222, 202) ;
     font-size: 1em;
     margin: auto;
     text-align: start;

}
   
.parrafos{
   
    border-radius: 10%;
    margin: auto;
    color: rgb(21, 21, 32);
    padding: 1em 1em 1em 1em ;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 55vw;
}
    
.cards2 { 
    
    margin: auto;
    width: 200px;
    height: 200px;
    padding: 1em 1em 1em 1em;
    transition: 1s;


 }

.cards2:hover {
     background-color: rgb(121, 111, 111);
}

#estilocards {
  
    border: 2px solid black ;
    margin: auto;
    padding: 2em;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;

}

#formularios {
background-color: beige;
color: black;
border:2px solid white;
margin: auto;
width:  55%;
padding: 1em 1em 1em 1em ;
display: flex;
flex-direction: row;
justify-content: space-evenly;

}
    
#enviar {
    background-color: beige;
    color: black;
    border:2px solid white;
    margin: auto;
    width:  55%;
    padding: 1em 1em 1em 1em ;
    display: flex;
    flex-direction: row;
    justify-content: center;



}

